html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  color: #1f1f1f;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-weight: 200;
  font-size: 200%;
}

.app {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section div {
  display: inline-block;
  max-width: 100ch;
  padding: 10rem 2rem;
}

section div div {
  max-width: initial;
  padding: initial;
}

section:nth-child(even) {
  background-color: rgb(245, 243, 238);
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.1s linear;
}

a :hover {
  color: rgb(245, 243, 238);
  transition: color 0.1s linear;
}
