html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  color: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  font-weight: 200;
  font-size: 200%;
}

.app {
  display: grid;
  grid-template-columns: 1fr min(100ch, 90%) 1fr;
  height: 100%;
  width: 100%;
}

section {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}
