html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr min(100ch, 100%) 1fr;
  height: 100%;
  width: 100%;
}

section {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}
